<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <title>index manager</title>
    <link rel="stylesheet" th:href="@{css/mui.css}"/>
    <script th:src="@{js/Vue-2.2.js}" type="text/javascript"></script>
    <!--<script th:src="@{js/axios-0.16.1.js}" type="text/javascript"></script>
    <script th:src="@{js/lodash-4.17.4.js}" type="text/javascript"></script>-->
</head>
<body>
    <ul class="mui-table-view">
        <li class="mui-table-view-cell">
            <a th:href="@{domain/domainManager.html}" class="mui-navigate-right">资源域管理</a>
        </li>
        <li class="mui-table-view-cell">
            <a th:href="@{template/templateManager.html}" class="mui-navigate-right">资源模板管理</a>
        </li>
        <li class="mui-table-view-cell">
            <a href="#" class="mui-navigate-right">资源内容管理</a>
        </li>
    </ul>
    <script type="text/javascript">
        console.log(Vue.config)
    </script>
</body>
</html>